. kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  
  * {
    box-sizing: 0;
    margin: 0;
    padding; 0;

  }
.conteiner {
    color:rgb(0, 107, 52);
    margin: 80px;
    font-size: large;
    
}
