.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  
  * {
    box-sizing: 0;
    margin: 0;
    padding;


.conteiner {
    color:aquamarine;
    margin: 80px;
    
}